__pycache__
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
.git
.env
.env.*
.webui_secret_key
tests
dev.sh
start_windows.bat
.venv
venv
_old
uploads
.ipynb_checkpoints
*.db
_test
!/data
/data/*
!/data/litellm
/data/litellm/*
!data/litellm/config.yaml

!data/config.json